
@{
    ViewData["Title"] = "CustomErrorPage";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h3>An error occur while processing your request.
    The support team is notified are we are trying to fix it.
</h3>
<h5>
    Please contact the us at info@maja.com
</h5>
